html{
    font-size: 22px;
    color: #424242;
    font-weight: 200;
    font-family: 'Open Sans', sans-serif;
}

strong{
    font-size: 1.5em;
    color: black;
}

span{

}

.align-self-center{
    align-self: center;
}

.btn-menu{
    color: #fff;
    background-color: #1a237e;
    border-color: #1a237e;
}

.btn-menu active {
    color: #fff;
    background-color: #1a237e;
    border-color: #1a237e;
}

.navbar-brand{
    margin-left: 100px;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 8rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #1a237e;
    text-align: start;
}

.carousel-caption strong{
    font-size: 35px;
    color: #1a237e;
}

.carousel-caption h1{
    font-size: 60px;
    font-weight: 700;
}

.slogan strong{
    font-size: 1.8em;
    font-weight: 300;
    font-style: oblique;
}

.slogan span{
    font-style: oblique;
    font-weight: 600;
    font-size: 1.1em;
}

.arrows div{
    display: inline-flex;
    font-size: 15px;
    line-height: 30px;
}

.arrows div > div {
    background-color: grey;
    height: 30px;
    padding-left: 10px;
    padding-right: 5px;
}

.arrows div > .triangle{
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 20px solid grey;
    border-bottom: 15px solid transparent;
    background-color: transparent;
}

.crisis{
    font-size: 22px;
}

.form-contact{
    background-color: gainsboro;
}




