html{
    font-size: 22px;
    color: #424242;
    font-weight: 200;
    font-family: 'Open Sans', sans-serif;
}

footer{
    background-color: #1a237e !important;
}

footer a{
    text-decoration: none;
    color: black;
}

strong{
    font-size: 1.5em;
    color: black;
}

.text-red{
    color: #bc1823;
}

.bg-azul-claro{
    background-color: rgb(177, 212, 224) !important;
}

span{
    font-weight: 700;
}

.align-self-center{
    align-self: center;
}

.bg-lime{
    background-color: rgb(192, 204, 71);
}

.btn-menu{
    color: #fff;
    background-color: #1a237e;
    border-color: #1a237e;
}

.btn-menu active {
    color: #fff;
    background-color: #1a237e;
    border-color: #1a237e;
}

#slide-carrusel{
    margin-top: 126px;
}

.opacity-70{
    opacity: .7;
}

.slider-img{
    height: 400px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -40px;
    background-size: cover;
}

.slider-1{
    background-image: url("../Img/slider.jpg");
}

.carousel-wrap-title{
    color: #1a237e;
    top: 120px;
    left: 90px;
}

.carousel-wrap-title strong{
    font-size: 35px;
    color: #1a237e;
    text-shadow: 0.1em 0.1em 0.2em floralwhite;
}

.carousel-wrap-title h1{
    font-size: 60px;
    font-weight: 700;
    color: #1a237e;
    text-shadow: 0.1em 0.1em 0.2em floralwhite;
}

.carousel-wrap-services{
    top: 350px;
    width: 100%;
    /*background-color: cornflowerblue;*/
}

.carousel-wrap-services > span{
    font-weight: 200;
    font-size: 0.8em;
}

.carousel-wrap-services > b{
    font-weight: 900;
}

.slogan strong{
    font-size: 1.8em;
    font-weight: 300;
    font-style: oblique;
}

.slogan span{
    font-style: oblique;
    font-weight: 600;
    font-size: 1.1em;
}

.arrows div{
    display: inline-flex;
    font-size: 15px;
    line-height: 30px;
}

.arrows div > div {
    background-color: grey;
    height: 30px;
    padding-left: 10px;
    padding-right: 5px;
    width: 130px;
}

.arrows div > .triangle{
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 20px solid #212529;
    border-bottom: 15px solid transparent;
    background-color: transparent;
}

.arrows p {
    margin: 0px;
}

.crisis{
    font-size: 22px;
}

.form-contact{
    background-color: #778006;
}

.text-azul-marino{
    color: #1a237e;
}

.enlaces-home > a > div{
    background-color: #bdbdbd;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    transition: 4s;
}

.enlaces-home > span{
    font-weight: 700;
}

.enlace-atendemos{
    background-image: url("../Img/atendemos.jpg");
}

.enlace-atendemos:hover{
    transition: 4s;
    background-size: 160%;
    opacity: 0.9;
    background-attachment: local;
}

.enlace-representantes{
    background-image: url("../Img/representantes.jpg");
}

.enlace-representantes:hover{
    transition: 4s;
    background-size: 160%;
    opacity: 0.9;
    background-attachment: local;
}

.enlace-instalaciones{
    background-image: url("../Img/instalaciones.jpg");
}

.enlace-instalaciones:hover{
    background-size: 110%;
    transition: 4s;
    opacity: 0.9;
    background-attachment: local;
}

.enlace-centro-v-f{
    background-image: url("../Img/villa-fenix-enlace.jpg");
}

.enlace-centro-v-f:hover{
    background-size: 110%;
    transition: 4s;
    opacity: 0.9;
    background-attachment: local;
}

/*Nosotros*/

.mision-img{
    width: 250px;
    height: 300px;
    background-color: silver;
    background-image: url("../Img/mision.jpg");
    background-size: 130%;
    background-position-x: right;
    background-position-y: center;
}

.vision-img{
    width: 250px;
    height: 300px;
    background-color: silver;
    background-image: url("../Img/vision.jpg");
    background-size: 107%;
    background-position-x: left;
    background-position-y: top;
}

.mt-ofset{
    margin-top: -40px;
}

.mx-width{
    max-width: 1000px;
}

/*Representantes*/

.representante-foto{
    width: 200px;
    height: 200px;
    background-color: silver;
}

/*Tratamiento*/
.padding-dropdowns-titulos{
    padding: 84px 0px;
}

.titulos-dropdown{
    margin: 30px 0px;
}

#carrusel-difuminado{
    z-index: -1;
}

.item-carrusel-personalizado{
    height: 450px;
    box-shadow: inset 350px 0px 600px -50px white;
    background-repeat: no-repeat;
    background-position-x: right;
    width: 750px;
}

.webkit-right{
    text-align: -webkit-right;
}

.metodologia-1{
    background-image: url(../Img/metodologia-1.jpg);
}

.metodologia-2{
    background-image: url(../Img/metodologia-2.jpg);
}

.metodologia-3{
    background-image: url(../Img/metodologia-3.jpg);
}

.card-body{
    background-color: transparent;
    border: transparent;
}

#container-dropdowns-titulos{
    height: 500px;
    overflow: scroll;
    max-width: 700px;
}

#container-dropdowns-titulos::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/*Atendemos*/
.atendemos-text{
    padding: 62px 0;
}

.atendemos-1{
    background-image: url(../Img/atendemos-1.jpg);
}

.atendemos-2{
    background-image: url(../Img/atendemos-2.jpg);
}

.atendemos-3{
    background-image: url(../Img/atendemos-3.jpg);
}

/*Contacto*/

.divider{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:600px;
}

.gmap_canvas{
    overflow:hidden;
    background:none!important;
    height:500px;
    width:600px;
}


@media only screen and (max-width: 1024px) {
    .slider-img{
        background-position-y: 0px;
    }

    .carousel-wrap-services {
        top: 330px;
    }

    .arrows div > div {
        min-width: max-content;
        max-width: max-content;
    }
}

@media only screen and (max-width: 760px) {
    .item-carrusel-personalizado{
        box-shadow: inset 350px 0px 800px 0px white;
    }

    .carousel-wrap-title{
        top: 50px;
        left: 20px;
    }

    .carousel-wrap-title strong {
        font-size: 30px;
    }

    .carousel-wrap-title h1 {
        font-size: 44px;
    }
}

@media only screen and (max-width: 450px) {
    .mt-sm-important{
        margin-top: 40px;
    }

    .carousel-wrap-services {
        top: 300px;
    }

    .arrows{
        display: block !important;
    }

    .arrows div {
        margin: 5px 0;
    }

    .padding-dropdowns-titulos {
        padding: 30px 0px;
    }

    .icon-wp{
        margin-bottom: 30px !important;
    }
}
